@model WebsitePerformance.Mvc.Models.CreateWebsiteViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="form-wrapper">
    <form asp-action="Index" class="form-group">
        <div class="d-flex flex-row">
            <div class="editor-group">
                <div class="editor-label">
                    https://
                </div>
                <div class="d-flex flex-column">
                    @Html.EditorFor(model => model.Domain)
                    <div class="error-message">
                        @Html.ValidationMessageFor(model => model.Domain)
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary h-25">Analyse</button>
        </div>
    </form>
</div>