@model WebsitePerformance.Mvc.Models.CreateWebsiteViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <form asp-action="Index" class="input-block">
        <div class="d-flex flex-row">
            <div class="editor-label">
                https://
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Domain)
                @Html.ValidationMessageFor(model => model.Domain)
            </div>
            <button type="submit" class="btn btn-outline-primary">Analyse</button>
        </div>
    </form>
</div>