@model WebsitePerformance.Mvc.Models.CreateWebsiteViewModel;
@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="Index" class="input-block">
    <div class="editor-label">
        @Html.LabelFor(model => model.Domain)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Domain)
        @Html.ValidationMessageFor(model => model.Domain)
    </div>
    <button type="submit" class="btn">Search</button>
</form>